
apiVersion: v1
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: 127.0.0.1:8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceNamespace: storageos
      resourceName: storageos-node-manager
kind: ConfigMap
metadata:
  labels:
    app: storageos
    app.kubernetes.io/component: node-manager
  name: storageos-node-manager
  namespace: node-manager-system
